src/main/mule/descartes-experiene-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dfe90908-a4f0-438f-85e1-01f89f85c488" >
		<http:listener-connection host="localhost" port="8087" />
	</http:listener-config>
	<import doc:name="Import" doc:id="16744c5f-ffc5-4367-ac47-67e3f44c3505" file="common-error-handling-framework.xml" />
	<flow name="descartes-experiene-apiFlow" doc:id="8b52d326-21f1-4c4f-9390-183fb44546b9" >
		<http:listener doc:name="Listener" doc:id="79606ee1-d078-4d98-a08e-40484458cb46" config-ref="HTTP_Listener_config" path="/*"/>
		<ee:transform doc:name="Transform Message" doc:id="14152633-19ee-4a52-8776-61e5895c0247" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "UP"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="153534d8-2e81-44f8-acdf-bd5b1eb70f89" name="common-error-handling-framework"/>
		<logger level="INFO" doc:name="Logger" doc:id="12ae8334-e4be-44cc-86ea-5c71957c6c4c" message="#[payload]"/>
	</flow>
</mule>
